NEXT_PUBLIC_APP_NAME=SuperTokens Auth App
NEXT_PUBLIC_API_DOMAIN=http://localhost:4000
NEXT_PUBLIC_WEBSITE_DOMAIN=http://localhost:3000
NEXT_PUBLIC_AUTH_API_BASE_PATH=/auth
NEXT_PUBLIC_AUTH_WEBSITE_BASE_PATH=/auth
