# ==================================================
# SuperTokens Core (Docker) -> Neon PostgreSQL
# ==================================================
SUPERTOKENS_POSTGRESQL_CONNECTION_URI=postgresql://neondb_owner:***REMOVED***@ep-noisy-morning-a10vt6me-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SUPERTOKENS_API_KEY=https://st-dev-b99234e0-4089-11f1-880b-876f2a31dcc4.aws.supertokens.io

# ==================================================
# Backend (Express)
# ==================================================
NODE_ENV=development
PORT=4000
APP_NAME=SuperTokens Auth App
API_DOMAIN=http://localhost:4000
WEBSITE_DOMAIN=http://localhost:3000
CORS_ORIGINS=http://localhost:3000
AUTH_API_BASE_PATH=/auth
AUTH_WEBSITE_BASE_PATH=/auth
SUPERTOKENS_CONNECTION_URI=http://localhost:3567
# Must match SUPERTOKENS_API_KEY set for Core
SUPERTOKENS_API_KEY=change-me-core-api-key
NEON_DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=require
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# ==================================================
# Frontend (Next.js)
# ==================================================
NEXT_PUBLIC_APP_NAME=SuperTokens Auth App
NEXT_PUBLIC_API_DOMAIN=http://localhost:4000
NEXT_PUBLIC_WEBSITE_DOMAIN=http://localhost:3000
NEXT_PUBLIC_AUTH_API_BASE_PATH=/auth
NEXT_PUBLIC_AUTH_WEBSITE_BASE_PATH=/auth
